
#QUERY
uniprotID=Q9Y375
blastPath=/usr/bin/
blastProtDB=/home/user/patmut/databases/UniRef100_20160706/uniref100_20160706.fasta

#RESULTS
output=/home/user/patmut/output/directory/
write=arff,msa

#MUTATION SET
pathological=humsavarDB
neutral=msaDB
predicting=sysMut

#PROPERTIES
vdwVolume=True
hydrophobicity=True
substitutionMatrix=True
pssm-native=True
entropy=True
impRes=True
absoluteFlag=True

#DATABASES
msaDB=/home/user/patmut/Q9Y375.msa
humsavarDB=/home/user/patmut/databases/humsavar_20160706.txt
uniprotImpResDB=/home/user/patmut/databases/impRes_20150304.tsv
vdwVolumeDB=/home/user/patmut/databases/vdwVolume.tsv
hydrophobicityDB=/home/user/patmut/databases/hydrophobicity.tsv
substitutionMatrixDB=BLOSUM62

#Modelling Neutral Variants from MSA
idmin=0.95
idmax=1