
#QUERY
uniprotID=uniprot_id
blastPath=/path/to/blast+_executables/
blastProtDB=/path/to/databases/uniref100_database/uniref100.fasta

#RESULTS
output=/path/to/output/directory/
write=arff,msa

#MUTATION SET
pathological=humsavarDB
neutral=msaDB
predicting=sysMut

#PROPERTIES
vdwVolume=True
hydrophobicity=True
substitutionMatrix=True
pssm-native=True
entropy=True
impRes=True
absoluteFlag=True

#DATABASES
msaDB=/path/to/msa
humsavarDB=/path/to/databases/humsavar.txt
uniprotImpResDB=/path/to/databases/impRes.tsv
vdwVolumeDB=/path/to/databases/vdwVolume.tsv
hydrophobicityDB=/path/to/databases/hydrophobicity.tsv
substitutionMatrixDB=BLOSUM62

#Modelling Neutral Variants from MSA
idmin=0.95
idmax=1